body {
	background-image:url('chuck_fip.png');
	background-repeat:no-repeat;
	background-position:right top;
}

h1 {
	text-align:center;
	color:#E851DE;
}

h2 {
	color:#E851DE;
}

p {
	margin-right:436px;
}

hr {
	color: #E851DE;
	background-color: #E851DE;
	height: 5px;
	margin-right:436px;
}

#nav ul {
	list-style-type : none;
}

#nav li{
	display: inline;
	padding : 0 0.5em;
	cursor: pointer;
	text-decoration: none;
	background-color: #E851DE;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 3px solid #E851DE;
	padding: 8px;
	color:white;
}

#nav li a {
	text-decoration: none;
	color:white;
}

#nav li:hover {
	/*background-color: #991F91;*/
	border-color: #991F91;
}

#page {

	margin-left:20px;
	margin-right:20px;
	padding:20px;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	border:3px solid #E851DE;

}
