<p>V2 :
<br />
<ul>
	<li>Mise en place d'un système de template</li>
	<li>Mise en place d'un cache</li>
	<li>Refactorisation du code pour ne plus avoir tout dans un seul fichier mais faire plutôt du 3-tiers</li>
</ul>
</p>
