<select name="pipo'.$i.'" size="'.$s.'" onchange="genepipo()" >' . "\n";
	for($j=0;$j<$s;++$j) {
		$txt = $tab[$keys[$i]]['p'.($j+1)];
		$txt = preg_replace('/"/', '&quot;', $txt);
		$listes .= '<option value="' . $txt . '" selected="selected">' . $txt . '</option>' . "\n";
	}
	$listes .= '</select><br /><br />' . "\n";
