<h2>Je veux modifier le fipotron, comment faire ?</h2>

<p>Les données du fipotron sont enregistrées sur un <a href="http://piratepad.net/fipotron">bloc note</a>. Tout le monde est à même de le modifier. Les modifications n'apparaitrons pas avant quelques temps, le temps que le cache se mette à jour (1 heure).</p>
